<!DOCTYPE html>
<html lang="<%= config.language %>">
	<%- partial('_partial/head.ejs') %>
	<body class="mdui-theme-primary-<%= theme.color.primary %> mdui-theme-accent-<%= theme.color.accent %> mdui-theme-layout-auto">
		<%- partial('_partial/appBar.ejs') %>
		<%- partial('_partial/drawer.ejs') %>
		<%- partial('_partial/title.ejs',{
			props:{
				title: (page.title || page.category || page.tag ||config.title),
				background: (theme.header_picture_link)
			}
		}) %>
		<div class="mainContent mdui-center" id="mainContent">
			<%- body %>
			<%- partial('_partial/pagination',{page:page}) %> 
		</div>
		<%- partial('_partial/footer.ejs') %>
		<button id="goToTopBtn" class="mdui-fab mdui-fab-fixed mdui-fab-hide mdui-ripple mdui-color-theme-accent">
			<i class="mdui-icon material-icons">&#xe316;</i>
		</button>
		<% if (theme.gdpr_cookie_alert.enable) { %>
			<script>
				if (localStorage.getItem('checkedGPDRCookieAlert') !== 'true') {
					window.addEventListener('load', function () {
						mdui.snackbar({
							message: `<%-theme.gdpr_cookie_alert.text%>`,
							buttonText: "<%-__('gpdr_cookie_alert_ack_btn')%>",
							timeout: 0,
							position: 'right-bottom',
							closeOnOutsideClick: false,
							onButtonClick: function(){
								localStorage.setItem('checkedGPDRCookieAlert','true');
							},
						});
					});
				}
			</script>
		<% } %>
	</body>
</html>