<!DOCTYPE html>
<html lang="<%= config.language %>">
	<%- partial('_partial/head.ejs') %>
	<body class="mdui-theme-primary-<%= theme.color.primary %> mdui-theme-accent-<%= theme.color.accent %> mdui-theme-layout-auto">
		<%- partial('_partial/appBar.ejs') %>
		<%- partial('_partial/drawer.ejs') %>
		<%- partial('_partial/title.ejs') %>
		<div class="mainContent mdui-center" id="mainContent">
			<%- body %>
			<%- partial('_partial/pagination',{page:page}) %> 
		</div>
		<%- partial('_partial/footer.ejs') %>
		<%# 搜索 %> 
		<% if (theme.search.enable !== false) { %>
			<div class="mdui-dialog" id="searchDialog">
				<div class="mdui-textfield mdui-textfield-floating-label">
					<label class="mdui-textfield-label" for="searchInputBox"><%-theme.search.placeholder||__('search.placeholder') %></label>
					<input class="mdui-textfield-input" type="text" id="searchInputBox" />
				</div>
				<div class="mdui-container" id="searchResultContainer"></div>
			</div>
		<% } %>
		<%# 回到顶部 %> 
		<button id="goToTopBtn" class="mdui-fab mdui-fab-fixed mdui-fab-hide mdui-ripple mdui-color-theme-accent">
			<i class="mdui-icon material-icons">&#xe316;</i>
		</button>
	</body>
</html>