<footer class="footer modern mdui-text-color-theme-secondary">
	<div class="footerUpperLayer">
		<div class="title">
			<a href="<%= config.url || url_for('/') %>" class="mdui-text-color-theme-secondary"><%-config.title%></a>
		</div>
		<div class="detail">
			<div class="text">
				<%-theme.footer?.text%>
				<% if (theme.footer?.contact) { %>
					<% if (theme.footer?.contact && theme.footer?.text) { %>
						&nbsp;&nbsp;
					<% } %>
					<div class="contact">
						<% for(el in theme.footer?.contact){%>
							<a href="<%= url_for(theme.footer?.contact[el]) %>" class="mdui-text-color-theme-secondary">
								<%=el%>
							</a>
						<%}%>
					</div>
				<% } %>
			</div>
			<div class="copyrights">
				<%- _p('footer.copyrights',`${theme.footer?.since || (new Date()).getFullYear()} - ${(new Date()).getFullYear()} ${config.author}`) %>
			</div>
		</div>
	</div>
	<br>
	<div class="footerLowerLayer">
		<div class="left">
			<% if (theme.footer?.hexo) { %>
				<a href="https://hexo.io" class="mdui-text-color-theme-secondary" target="_blank"><%- __('footer.hexo') %></a>
			<% } %>
			<% if (theme.footer?.hexo && theme.footer?.theme) { %>
				&nbsp;&&nbsp;
			<% } %>
			<% if (theme.footer?.theme) { %>
				<a href="https://github.com/Yuameshi/hexo-theme-mdx" class="mdui-text-color-theme-secondary" target="_blank"><%- __('footer.theme') %></a>
			<% } %>
		</div>
		<div class="right">
			<% if (theme.footer?.miit_icp) { %>
				<a href="https://beian.miit.gov.cn/" class="mdui-text-color-theme-secondary"><%= theme.footer?.miit_icp %></a>
			<% } %>
			<% if (theme.footer.miit_icp && theme.footer.moe_icp) { %>
				&nbsp;/&nbsp;
			<% } %>
			<% if (theme.footer.moe_icp) { %>
				<a href="https://icp.gov.moe/?keyword=<%= theme.footer?.moe_icp %>" class="mdui-text-color-theme-secondary">萌ICP备<%= theme.footer?.moe_icp %>号</a>
			<% } %>
		</div>
	</div>
</footer>