<div class="mdui-drawer mdui-color-white mdui-drawer-full-height mdui-drawer-close" id="left-drawer">
	<div class="drawerHeader">
		<% if (theme.drawer_about.enable) { %>
			<div class="drawerAbout mdui-color-theme">
				<div class="drawerAboutMain mdui-text-color-<%=theme.drawer_about.is_dark?"white":"black" %>" style="--drawer-bg: url(<%= theme.drawer_about.background %>)"
					data-name="<%= theme.drawer_about.name %>" data-slogan="<%= theme.drawer_about.slogan %>">
					<img src="<%= theme.drawer_about.avatar%>" alt="avatar" class="avatar">
				</div>
			</div>
		<% } %>
		<!-- 
		<button
			class="nightMode mdui-btn mdui-btn-icon mdui-text-color-<%=theme.drawer_about.is_dark?"white":"black" %> mdui-ripple mdui-valign mdui-text-center"
			mdui-tooltip="{content: '<%=__('nightmode_switch')%>'}" id="tgns" mdui-drawer-close="{target: '#left-drawer'}">
			<i class="mdui-icon material-icons">î©</i>
		</button>
		-->
	</div>
	<nav>
		<div class="mdui-list">
			<% for(element in theme.drawer){%>
				<%const str=theme.drawer[element].split(" || ")%>
				<a href="<%= url_for(str[0]) %>" class="mdui-list-item mdui-ripple">
					<i class="mdui-list-item-icon mdui-icon material-icons">
						<%- str[1] %>
					</i>
					<%= __(element) || element %>
				</a>
			<%}%>
		</div>
	</nav>
</div>