<head>
	<meta charset="UTF-8">
	<% 
		let description = config.description;
		if(strip_html(page.excerpt)!=''){
			description = strip_html(page.excerpt);
		} else if(truncate(strip_html(page.content), {length: 70})!='') {
			description = truncate(strip_html(page.content), {length: 70});
		} else if(page.category!='') {
			description = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(page.tag!='') {
			description = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		}
	%>
	<meta name="description" content="<%= description %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="<%= theme.favicon %> " type="image/x-icon">
	<%- js({ src: 'js/material.js', async: true }) %>
	<%- css(['css/main.css']) %>
	<%# Font Awesome %> 
	<% if (theme.include_font_awesome) { %>
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.1.1/css/all.min.css" />
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/font-awesome/6.1.1/webfonts/fa-solid-900.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/font-awesome/6.1.1/webfonts/fa-regular-400.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/font-awesome/6.1.1/webfonts/fa-brands-400.woff2" as="font">
	<% } %>
	<%# MDUI %>
	<% if (theme.use_cdn) { %>
		<link rel="stylesheet" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css?v=1.0.2" />
		<script src="https://cdn.staticfile.org/mdui/1.0.2/js/mdui.min.js?v=1.0.2" async></script>
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/fonts/roboto/Roboto-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/icons/material-icons/MaterialIcons-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/fonts/roboto/Roboto-Medium.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/fonts/roboto/Roboto-Bold.woff2" as="font">
	<% } else { %>
		<%- js({src: 'mdui/js/mdui.min.js?v=1.0.2', async: true}) %> 
		<%- css(['mdui/css/mdui.min.css?v=1.0.2']) %>
		<link rel="preload" crossorigin="crossorigin" href="mdui/fonts/roboto/Roboto-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="mdui/fonts/roboto/Roboto-Medium.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="mdui/icons/material-icons/MaterialIcons-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="mdui/fonts/roboto/Roboto-Bold.woff2" as="font">
	<% } %>
	<title>
		<% var title = page.title || page.category || page.tag || config.title %>
		<%= title==config.title?title:title + ' - '+ config.title %>
		<%#
			var title = page.title;
			if (is_archive()) {
				title = __('archive');
				if (is_month()) {
					title += ': ' + page.year + '/' + page.month;
				} else if (is_year()) {
					title += ': ' + page.year;
				}
			} else if (is_category()) {
				title = __('category') + ': ' + page.category;
			} else if (is_tag()) {
				title = __('tag') + ': ' + page.tag;
			}
			title += " - " + config.title
		%>
		<%# title ? title : config.title %>
	</title>
</head>