<head>
	<meta charset="UTF-8">
	<% 
		let description = config.description;
		if(strip_html(page.excerpt)!==''){
			description = strip_html(page.excerpt);
		} else if(truncate(strip_html(page.content), {length: 70})!=='') {
			description = truncate(strip_html(page.content), {length: 70});
		} else if(is_category()) {
			description = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			description = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			description = __('archives');
			if (is_month()) {
				description += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				description += ' - ' + page.year+  __('archive.year');
			}
			description += ' - ' + config.title;
		}
	%>
	<meta name="description" content="<%= description %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if (theme.favicon) { %>
		<link rel="preload" href="<%- theme.favicon %> " as="image" crossorigin="anonymous">
		<link rel="prefetch" href="<%- theme.favicon %> " as="image" crossorigin="anonymous">
	<% } %>
	<link rel="shortcut icon" href="<%= theme.favicon %>" type="image/x-icon">
	<link rel="apple-touch-icon" href="<%= theme.favicon %>">
	<%- js({ src: 'js/material.js', async: true }) %>
	<%- css(['css/main.css']) %>
	<%
	let linkPrefix = 'https://cdn.jsdelivr.net/npm/%package%@%version%/dist/';
	switch (theme.cdn_provider) {
		case 'cdnjs':
			linkPrefix = 'https://cdnjs.cloudflare.com/ajax/libs/%package%/%version%/';
			break;
		case 'jsdelivr':
			linkPrefix = 'https://cdn.jsdelivr.net/npm/%package%@%version%/dist/';
			break;
		case 'staticfile':
			linkPrefix = 'https://cdn.staticfile.org/%package%/%version%/';
			break;
		case 'bootcdn':
			linkPrefix = 'https://cdn.bootcdn.net/ajax/libs/%package%/%version%/';
			break;
		case 'bytedance':
			linkPrefix = 'https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/%package%/%version%/';
			break;
		case 'unpkg':
			linkPrefix = 'https://unpkg.com/%package%@%version%/dist/';
			break;
		case 'baomitu':
			linkPrefix = 'https://lib.baomitu.com/%package%/%version%/';
			break;
		case 'true':
			linkPrefix = 'https://cdn.jsdelivr.net/npm/%package%@%version%/dist/';
			break;
		case true:
			linkPrefix = 'https://cdn.jsdelivr.net/npm/%package%@%version%/dist/';
			break;
		case 'false':
			linkPrefix = '/%package%/';
			break;
		case false:
			linkPrefix = '/%package%/';
			break;
		default:
			break;
	}
	const mdui = linkPrefix.replace(/%version%/g, (theme.mdui_version || '1.0.2')).replace(/%package%/g, 'mdui');
	const qrcodejs = linkPrefix.replace(/%version%/g, '1.0.0').replace(/%package%/g, 'qrcodejs') + 'qrcode.min.js';
	%>
	<% if (theme.cdn_provider != 'false' && theme.cdn_provider!=false) { %>
		<link rel="preconnect" href="<%- (new URL(linkPrefix)).origin %>" crossorigin="anonymous">
	<% } %>
	<link rel="preload" href="<%- mdui + 'fonts/roboto/Roboto-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- mdui + 'fonts/roboto/Roboto-Medium.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- mdui + 'fonts/roboto/Roboto-Bold.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- mdui + 'icons/material-icons/MaterialIcons-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<% if (is_post() || is_page()) { %>
		<script src="<%- qrcodejs %>" async></script>
	<% } %>	
	<link rel="stylesheet" href="<%- mdui + 'css/mdui.min.css?v=' + (theme.mdui_version || '1.0.2') %>" crossorigin="anonymous">
	<script src="<%- mdui + 'js/mdui.min.js?v=' + (theme.mdui_version || '1.0.2') %>" async crossorigin="anonymous"></script>
	<link rel="prefetch" href="<%- mdui + 'fonts/roboto/Roboto-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- mdui + 'fonts/roboto/Roboto-Medium.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- mdui + 'fonts/roboto/Roboto-Bold.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- mdui + 'icons/material-icons/MaterialIcons-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- qrcodejs %>" as="script" crossorigin="anonymous">
	<%- partial('_partial/_plugins/analytics/analytics') %> 
	<title>
		<% let title = page.title || config.title%>
		<% 
		if(is_category()) {
			title = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			title = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			title = __('archives');
			if (is_month()) {
				title += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				title += ' - ' + page.year+  __('archive.year');
			}
			title += ' - ' + config.title;
		}
		%> 
		<%= title %>
	</title>
	<link rel="preload" href="/search.json" as="fetch" crossorigin="anonymous">
	<link rel="prefetch" href="/search.json" as="fetch" crossorigin="anonymous">
	<% if (theme.header_picture_link) { %>
		<link rel="preload" href="<%- theme.header_picture_link %> " as="image" crossorigin="anonymous">
		<link rel="prefetch" href="<%- theme.header_picture_link %> " as="image" crossorigin="anonymous">
	<% } %>
	<% if (theme.drawer_about) { %>
		<% if (theme.drawer_about.avatar) { %>
			<link rel="prefetch" href="<%- theme.drawer_about.avatar %> " as="image" crossorigin="anonymous">
		<% } %>
		<% if (theme.drawer_about.background) { %>
			<link rel="prefetch" href="<%- theme.drawer_about.background %> " as="image" crossorigin="anonymous">
		<% } %>
	<% } %>
	<%# GPDR Cookie提示 %> 
	<script async>
		<% if (theme.gdpr_cookie_alert.enable) { %>
			window.gpdrCookieAlert = {
				msg: `<%-theme.gdpr_cookie_alert.text||__('gpdr_cookie_alert.msg') %>`,
				btnTxt: "<%-theme.gdpr_cookie_alert.ack_btn||__('gpdr_cookie_alert.ack_btn')%>",
			}
		<% } %>
		<% if (theme.online_check.enable) { %>
			var offlineAlertSnackbar;
			window.onlineCheck = {
				offMsg: "<%-theme.online_check.offlineText||__('online_check.offline_text')%>",
				onMsg: "<%-theme.online_check.onlineText||__('online_check.online_text')%>",
				btnTxt: "<%-theme.online_check.ack_btn||__('online_check.ack_btn')%>",
			}
		<% } %>
		<% if (theme.search.enable !== false) { %>
			window.search = {
				path: "<%-theme.search.path %>",
				noResult: "<%-theme.search.no_result||__('search.no_result')%>",
				error: "<%-theme.search.error||__('search.db_undefined')%>",
			}
		<% } %>
		window.shareMetadata = {
			title: '<%= title %>',
			description: '<%= description %>',
			url: '<%= page.url %>',
			blogName : '<%= config.title %>',
			postDate: '<%= date(page.date) %>',
			scan: '<%= __('share.scan_qr_to_read') %>',
		}
	</script>
</head>