<head>
	<meta charset="UTF-8">
	<% 
		let description = config.description;
		if(strip_html(page.excerpt)!==''){
			description = strip_html(page.excerpt);
		} else if(truncate(strip_html(page.content), {length: 70})!=='') {
			description = truncate(strip_html(page.content), {length: 70});
		} else if(is_category()) {
			description = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			description = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			description = __('archives');
			if (is_month()) {
				description += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				description += ' - ' + page.year+  __('archive.year');
			}
			description += ' - ' + config.title;
		}
	%>
	<meta name="description" content="<%= description %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if (theme.favicon) { %>
		<link rel="preload" href="<%- theme.favicon %> " as="image" crossorigin="anonymous">
		<link rel="prefetch" href="<%- theme.favicon %> " as="image" crossorigin="anonymous">
	<% } %>
	<link rel="shortcut icon" href="<%= theme.favicon %>" type="image/x-icon">
	<link rel="apple-touch-icon" href="<%= theme.favicon %>">
	<%- js({ src: 'js/material.js', async: true }) %>
	<%- css(['css/main.css']) %>
	<%
	let linkPrefix = 'https://cdn.jsdelivr.net/npm/mdui@%version%/dist/';
	switch (theme.cdn_provider) {
		case 'cdnjs':
			linkPrefix = 'https://cdnjs.cloudflare.com/ajax/libs/mdui/%version%/';
			break;
		case 'jsdelivr':
			linkPrefix = 'https://cdn.jsdelivr.net/npm/mdui@%version%/dist/';
			break;
		case 'staticfile':
			linkPrefix = 'https://cdn.staticfile.org/mdui/%version%/';
			break;
		case 'bootcdn':
			linkPrefix = 'https://cdn.bootcdn.net/ajax/libs/mdui/%version%/';
			break;
		case 'bytedance':
			linkPrefix = 'https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/mdui/%version%/';
			break;
		case 'unpkg':
			linkPrefix = 'https://unpkg.com/mdui@%version%/dist/';
			break;
		case 'baomitu':
			linkPrefix = 'https://lib.baomitu.com/mdui/%version%/';
			break;
		case 'true':
			linkPrefix = 'https://cdn.jsdelivr.net/npm/mdui@%version%/dist/';
			break;
		case true:
			linkPrefix = 'https://cdn.jsdelivr.net/npm/mdui@%version%/dist/';
			break;
		case 'false':
			linkPrefix = '../mdui/';
			break;
		case false:
			linkPrefix = '../mdui/';
			break;
		default:
			break;
	}
	linkPrefix = linkPrefix.replace(/%version%/g, (theme.mdui_version || '1.0.2'));
	%> 
	<link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin="anonymous">
	<link rel="stylesheet" href="<%- linkPrefix + 'css/mdui.min.css?v=' + (theme.mdui_version || '1.0.2') %>" crossorigin="anonymous">
	<script src="<%- linkPrefix + 'js/mdui.min.js?v=' + (theme.mdui_version || '1.0.2') %>" crossorigin="anonymous"></script>
	<link rel="preload" href="<%- linkPrefix + 'fonts/roboto/Roboto-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- linkPrefix + 'fonts/roboto/Roboto-Medium.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- linkPrefix + 'fonts/roboto/Roboto-Bold.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- linkPrefix + 'icons/material-icons/MaterialIcons-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- linkPrefix + 'fonts/roboto/Roboto-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- linkPrefix + 'fonts/roboto/Roboto-Medium.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- linkPrefix + 'fonts/roboto/Roboto-Bold.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- linkPrefix + 'icons/material-icons/MaterialIcons-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<%- partial('_partial/_plugins/analytics/analytics') %> 
	<title>
		<% let title = page.title || config.title%>
		<% 
		if(is_category()) {
			title = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			title = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			title = __('archives');
			if (is_month()) {
				title += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				title += ' - ' + page.year+  __('archive.year');
			}
			title += ' - ' + config.title;
		}
		%> 
		<%= title %>
	</title>
	<link rel="preload" href="/search.json" as="fetch" crossorigin="anonymous">
	<link rel="prefetch" href="/search.json" as="fetch" crossorigin="anonymous">
	<% if (theme.header_picture_link) { %>
		<link rel="preload" href="<%- theme.header_picture_link %> " as="image" crossorigin="anonymous">
		<link rel="prefetch" href="<%- theme.header_picture_link %> " as="image" crossorigin="anonymous">
	<% } %>
	<% if (theme.drawer_about) { %>
		<% if (theme.drawer_about.avatar) { %>
			<link rel="prefetch" href="<%- theme.drawer_about.avatar %> " as="image" crossorigin="anonymous">
		<% } %>
		<% if (theme.drawer_about.background) { %>
			<link rel="prefetch" href="<%- theme.drawer_about.background %> " as="image" crossorigin="anonymous">
		<% } %>
	<% } %>
</head>