<head>
	<meta charset="UTF-8">
	<% 
		let description = config.description;
		if(strip_html(page.excerpt)!=''){
			description = strip_html(page.excerpt);
		} else if(truncate(strip_html(page.content), {length: 70})!='') {
			description = truncate(strip_html(page.content), {length: 70});
		} else if(is_category()) {
			description = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			description = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			description = __('archives');
			if (is_month()) {
				description += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				description += ' - ' + page.year+  __('archive.year');
			}
			description += ' - ' + config.title;
		}
	%>
	<meta name="description" content="<%= description %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="<%= theme.favicon %>" type="image/x-icon">
	<link rel="apple-touch-icon" href="<%= theme.favicon %>">
	<%- js({ src: 'js/material.js', async: true }) %>
	<%- css(['css/main.css']) %>
	<%# MDUI %>
	<% if (theme.use_cdn) { %>
		<link rel="stylesheet" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css?v=1.0.2" />
		<script src="https://cdn.staticfile.org/mdui/1.0.2/js/mdui.min.js?v=1.0.2" async></script>
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/fonts/roboto/Roboto-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/icons/material-icons/MaterialIcons-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/fonts/roboto/Roboto-Medium.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="https://cdn.staticfile.org/mdui/1.0.2/fonts/roboto/Roboto-Bold.woff2" as="font">
	<% } else { %>
		<%- js({src: 'mdui/js/mdui.min.js?v=1.0.2', async: true}) %> 
		<%- css(['mdui/css/mdui.min.css?v=1.0.2']) %>
		<link rel="preload" crossorigin="crossorigin" href="mdui/fonts/roboto/Roboto-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="mdui/fonts/roboto/Roboto-Medium.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="mdui/icons/material-icons/MaterialIcons-Regular.woff2" as="font">
		<link rel="preload" crossorigin="crossorigin" href="mdui/fonts/roboto/Roboto-Bold.woff2" as="font">
	<% } %>
	<%- partial('_partial/_plugins/analytics/analytics') %> 
	<title>
		<% let title = page.title || config.title%>
		<% 
		if(is_category()) {
			title = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			title = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			title = __('archives');
			if (is_month()) {
				title += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				title += ' - ' + page.year+  __('archive.year');
			}
			title += ' - ' + config.title;
		}
		%> 
		<%= title %>
	</title>
</head>