<head>
	<meta charset="UTF-8">
	<%
		let description = config.description;
		if(strip_html(page.excerpt)!==''){
			description = strip_html(page.excerpt);
		} else if(truncate(strip_html(page.content), {length: 70})!=='') {
			description = truncate(strip_html(page.content), {length: 70});
		} else if(is_category()) {
			description = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			description = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			description = __('archives');
			if (is_month()) {
				description += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				description += ' - ' + page.year+  __('archive.year');
			}
			description += ' - ' + config.title;
			description = description.replace(/\n/g,'');
		}
	%>
	<meta name="description" content="<%= description.replace(/\n/g,'') %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if (theme.favicon) { %>
		<link rel="preload" href="<%- theme.favicon %> " as="image" crossorigin="anonymous">
		<link rel="prefetch" href="<%- theme.favicon %> " as="image" crossorigin="anonymous">
	<% } %>
	<link rel="shortcut icon" href="<%= theme.favicon %>" type="image/x-icon">
	<link rel="apple-touch-icon" href="<%= theme.favicon %>">
	<%	let title = page.title || config.title
		if(is_category()) {
			title = __('categories') + ' - ' + page.category + ' - '+ config.title;
		} else if(is_tag()) {
			title = __('tags') + ' - ' + page.tag + ' - '+ config.title;
		} else if(is_archive()) {
			title = __('archives');
			if (is_month()) {
				title += ' - ' + page.year+__('archive.year') + page.month+  __('archive.month');
			} else if (is_year()) {
				title += ' - ' + page.year+  __('archive.year');
			}
			title += ' - ' + config.title;
		}
		title=title.replace(/\n/g,'');
	%>
	<title><%= title %></title>
	<%- js({ src: 'js/material.js', async: true }) %>
	<%- css(['css/main.css']) %>
	<link rel="prefetch" href="/css/post.css" as="fetch" crossorigin="anonymous">
	<link rel="prefetch" href="/css/friends.css" as="fetch" crossorigin="anonymous">
	<%
	let linkPrefix = site.linkPrefix;
	if (theme.cdn_provider==='jsdelivr' || theme.cdn_provider==='unpkg'  || theme.cdn_provider==='true' || theme.cdn_provider===true){
		linkPrefix += 'dist/'
	}
	const mdui = linkPrefix.replace(/%version%/g, (theme.mdui_version || '1.0.2')).replace(/%package%/g, 'mdui');
	const qrcodejs = site.linkPrefix.replace(/%version%/g, '1.0.0').replace(/%package%/g, 'qrcodejs') + 'qrcode.min.js';
	%>
	<% if (theme.cdn_provider != 'false' && theme.cdn_provider!=false) { %>
		<link rel="preconnect" href="<%- (new URL(site.linkPrefix)).origin %>" crossorigin="anonymous">
	<% } %>
	<link rel="preload" href="<%- mdui + 'fonts/roboto/Roboto-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- mdui + 'fonts/roboto/Roboto-Medium.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- mdui + 'fonts/roboto/Roboto-Bold.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="preload" href="<%- mdui + 'icons/material-icons/MaterialIcons-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<% if (is_post() || is_page()) { %>
		<script src="<%- qrcodejs %>" async></script>
		<%- css(['css/post.css']) %>
		<%- js({ src: 'js/post.js', async: true }) %>
	<% } %>
	<link rel="stylesheet" href="<%- mdui + 'css/mdui.min.css?v=' + (theme.mdui_version || '1.0.2') %>" crossorigin="anonymous">
	<script src="<%- mdui + 'js/mdui.min.js?v=' + (theme.mdui_version || '1.0.2') %>" async crossorigin="anonymous"></script>
	<link rel="prefetch" href="<%- mdui + 'fonts/roboto/Roboto-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- mdui + 'fonts/roboto/Roboto-Medium.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- mdui + 'fonts/roboto/Roboto-Bold.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- mdui + 'icons/material-icons/MaterialIcons-Regular.woff2?v=' + (theme.mdui_version || '1.0.2') %>" as="font" crossorigin="anonymous">
	<link rel="prefetch" href="<%- qrcodejs %>" as="script" crossorigin="anonymous">
	<%- partial('_partial/_plugins/analytics/analytics') %>
	<% if (theme.header_picture_link) { %>
		<link rel="preload" href="<%- theme.header_picture_link %> " as="image" crossorigin="anonymous">
		<link rel="prefetch" href="<%- theme.header_picture_link %> " as="image" crossorigin="anonymous">
	<% } %>
	<% if (theme.drawer_about) { %>
		<% if (theme.drawer_about.avatar) { %>
			<link rel="prefetch" href="<%- theme.drawer_about.avatar %> " as="image" crossorigin="anonymous">
		<% } %>
		<% if (theme.drawer_about.background) { %>
			<link rel="prefetch" href="<%- theme.drawer_about.background %> " as="image" crossorigin="anonymous">
		<% } %>
	<% } %>
	<%
		function trimStr(str) {
			return str.replace(/\n/g,'').replace(/'/g,"\\'").replace(/"/g,'\\"');
		}
		let injectScript = '';
		injectScript += `window.shareMetadata = {`;
		injectScript+=`title: '${trimStr(title)}',`
		injectScript+=`description: '${trimStr(description)}',`
		injectScript+=`url: '${page.url}',`
		injectScript+=`blogName : '${trimStr(config.title)}',`
		injectScript+=`postDate: '${date(page.date)}',`
		injectScript+=`scan: '${__('share.scan_qr_to_read')}',`
		injectScript+=`};`;
		if (theme.gdpr_cookie_alert.enable) {
			injectScript+='window.gpdrCookieAlert = {';
			injectScript+=`msg: \'${trimStr(theme.gdpr_cookie_alert.text||__('gpdr_cookie_alert.msg'))}',`;
			injectScript+=`btnTxt: "${trimStr(theme.gdpr_cookie_alert.ack_btn||__('gpdr_cookie_alert.ack_btn'))}",`;
			injectScript+='};';
		}
		if (theme.online_check.enable) {
			injectScript+=`var offlineAlertSnackbar;`;
			injectScript+=`window.onlineCheck = {`;
				injectScript+=`offMsg: "${trimStr(theme.online_check.offlineText||__('online_check.offline_text'))}",`;
				injectScript+=`onMsg: "${trimStr(theme.online_check.onlineText||__('online_check.online_text'))}",`;
				injectScript+=`btnTxt: "${trimStr(theme.online_check.ack_btn||__('online_check.ack_btn'))}",`;
			injectScript+=`};`;
		}
		if (theme.search.enable !== false) {
			injectScript+=`window.search = {`;
				injectScript+=`path: "${trimStr(theme.search.path || '/search.json')}",`;
				injectScript+=`noResult: "${trimStr(theme.search.no_result||__('search.no_result'))}",`;
				injectScript+=`error: "${trimStr(theme.search.error||__('search.db_undefined'))}",`;
			injectScript+=`};`;
		}
		injectScript = '<script async>'+injectScript+'</script>';
	%>
	<% if (theme.advertisement?.google?.client_ca_pub) { %>
		<script data-ad-client="<%- theme.advertisement?.google?.client_ca_pub %>" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" crossorigin="anonymous"></script>	
	<% } %>
	<%- injectScript %>
    <link rel="preload" href="<%- trimStr(theme.search?.path || '/search.json') %>" as="fetch" crossorigin="anonymous">
    <link rel="prefetch" href="<%- trimStr(theme.search?.path || '/search.json') %>" as="fetch" crossorigin="anonymous">
</head>