<div class="postPage mdui-card mdui-center" id="postPage">
	<%# 元信息 %>
	<div class="postMeta mdui-card-media mdui-text-color-theme-text">
		<%# 发布时间 %>
		<div class="mdui-chip postDate" mdui-tooltip="{content: '<%= __('post.post') %>'}">
			<span class="mdui-chip-icon">
			  <i class="mdui-icon material-icons">&#xe192;</i>
			</span>
			<span class="mdui-chip-title">
				<%= date(page.date) %>
			</span>
		</div>
		<%# 分类 %>
		<% if (type==='post') { %>
			<div class="mdui-chip postCategories" mdui-tooltip="{content: '<%= __('post.categories') %>'}">
				<span class="mdui-chip-icon">
					<i class="mdui-icon material-icons">&#xe2c7;</i>
				</span>
				<span class="mdui-chip-title">
					<% if (list_categories(page.categories)) { %>
						<%- list_categories(
							page.categories,
							{
								show_count: false,
								style: 'none',
								separator: ' / ',
								class: 'mdui-text-color-theme-text category'
							}) %>
					<% } else { %>
						<%=__('post.uncategorized')%>
					<% } %>
				</span>
			</div>
		<% } %>
	</div>
	<div class="mdui-divider"></div>
	<%# 正文 %>
	<div class="mdui-card-content mdui-typo">
		<%- page.content %>
	</div>
	<%#文末结束语%>
	<div class="mdui-divider"></div>
	<div class="pageEnd mdui-center mdui-card">
		<button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-theme-accent shareBtn" mdui-menu="{target: '#shareMenu', align: 'left' ,position: 'top'}">
			<i class="mdui-icon material-icons">&#xe80d;</i>
		</button>
		<ul class="mdui-menu" id="shareMenu">
			<li class="mdui-menu-item">
				<a href="javascript:void(0)" class="mdui-ripple" mdui-dialog="{target: '#generateSharePictureDialog'}"><%- __('share.gen_sharepic') %></a>
			</li>
			<li class="mdui-menu-item">
				<a href="<%- encodeURI(`https://service.weibo.com/share/share.php?appkey=&title=${page.title}&url=${page.permalink}&pic=${page.headerPic}&searchPic=false&style=simple`) %>" target="_blank" rel="noopener noreferrer" class="mdui-ripple"><%- __('share.weibo') %> </a>
			</li>
			<li class="mdui-menu-item">
				<a href="<%- encodeURI(`https://connect.qq.com/widget/shareqq/index.html?site=${config.title}&title=${page.title}&summary=${strip_html(page.excerpt) || truncate(strip_html(page.content), {length: theme.excerpt_length})}`) %>" target="_blank" rel="noopener noreferrer" class="mdui-ripple"><%- __('share.qq') %> </a>
			</li>
			<li class="mdui-menu-item">
				<a href="javascript:void(0)" class="mdui-ripple" mdui-dialog="{target: '#shareToWechatQRCodeDialog'}"><%- __('share.wechat') %> </a>
			</li>
			<li class="mdui-menu-item">
				<a href="<%- encodeURI(`https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=${page.permalink}&title=${page.title}&content=utf-8`) %>" target="_blank" rel="noopener noreferrer" class="mdui-ripple"><%- __('share.qzone') %> </a>
			</li>
			<li class="mdui-divider"></li>
			<li class="mdui-menu-item">
				<a href="<%- encodeURI(`https://telegram.me/share/url?url=${page.permalink}&text=${page.title}`) %>" target="_blank" rel="noopener noreferrer" class="mdui-ripple"><%- __('share.telegram') %> </a>
			</li>
			<li class="mdui-menu-item">
				<a href="<%- encodeURI(`https://www.facebook.com/sharer.php?u=${page.permalink}`) %>" class="mdui-ripple"><%- __('share.facebook') %> </a>
			</li>
			<li class="mdui-menu-item">
				<a href="<%- encodeURI(`https://twitter.com/intent/tweet?text=${page.title}&url=${page.permalink}`) %>" target="_blank" rel="noopener noreferrer" class="mdui-ripple"><%- __('share.twitter') %> </a>
			</li>
		</ul>
		<div class="mdui-dialog" id="generateSharePictureDialog">
			<div class="mdui-container mdui-text-color-gray mdui-color-white generateSharePictureDialogOuterContainer">
				<div id="generateSharePictureDialogContainer"></div>
				<i class="mdui-icon material-icons">&#xe161;</i> <%- __('share.save_sharepic') %>
			</div>
			<div class="mdui-container generateSharePictureDialogActionBar">
				<button class="mdui-btn mdui-ripple mdui-text-color-theme-accent mdui-center mdui-m-a-2" id="saveSharePic"><%- __('save') %></button>
				<button class="mdui-btn mdui-ripple mdui-text-color-theme-accent mdui-center mdui-m-a-2" mdui-dialog-close><%- __('close') %></button>
			</div>
		</div>
		<div class="mdui-dialog" id="shareToWechatQRCodeDialog">
			<div class="mdui-container mdui-text-color-gray mdui-color-white mdui-m-t-2 shareToWechatQRCodeOuterContainer">
				<div id="shareToWechatQRCodeContainer"></div>
				<i class="mdui-icon material-icons">&#xe80d;</i> <%- __('share.scan_with_wechat') %>
			</div>
			<div class="mdui-container">
				<button class="mdui-btn mdui-ripple mdui-text-color-theme-accent mdui-center mdui-m-a-1" mdui-dialog-close><%- __('close') %></button>
			</div>
		</div>
		<% if (theme.passage_end_tag.enabled === true) { %>
			<div class="pageEndText mdui-card-actions mdui-typo">
				<%- theme.passage_end_tag.text.replace(/%link%/g,full_url_for(page.path)).replace(/%title%/g,page.title) %>
			</div>
		<% } %>
		<div class="postTags">
			<i class="mdui-icon material-icons mdui-text-color-theme-secondary">&#xe54e;</i>
			<% if (page.tags && page.tags.length) { %>
				<%- list_tags(
					page.tags,
					{
						style: 'none',
						show_count:false,
						separator: '',
						class: 'mdui-text-color-theme-secondary tag'
					}
					) 
				%>
			<% } else { %>
				<%=__('post.untagged')%>
			<% } %>
		</div>
		<%# 底部文章前后导航 %>
		<div class="nav">
			<% if (page.prev) { %>
				<a rel="prev" href="<%- url_for(page.prev.path) %>" class="mdui-text-color-theme-secondary">
					<i class="mdui-icon material-icons">&#xe314;</i>
					<span><%= page.prev.title %></span>
				</a>
			<% } %>
			<% if (page.next) { %>
				<a rel="next" href="<%- url_for(page.next.path) %>" class="mdui-text-color-theme-secondary">
					<span><%= page.next.title %></span>
					<i class="mdui-icon material-icons">&#xe315;</i>
				</a>
			<% } %>
		</div>
	</div>
	<svg class="mdui-fab-fixed" id="mdxReadProgress" width="56" height="56" viewBox="0 0 56 56">
		<circle id="mdxReadProgressRing" cx="28" cy="28" r="26.5" stroke-width="2.5" stroke="rgba(255,255,255,.6)" fill="none"></circle>
	</svg>
	<%- partial('_partial/_plugins/comments/comment') %> 
	<div id="imgBox">
		<img src="" alt="" id="imgBoxImage">
		<div id="imgBoxDescription"></div>
	</div>
</div>