<div class="mdui-card mdui-center mdui-hoverable postItem">
	<div class="mdui-card-actions postItemContent">
		<a href="<%= url_for(post.path) %>" class="mdui-text-color-theme postTitle">
			<h1>
				<%= post.title %>
			</h1>
		</a>
		<p class="mdui-text-color-theme-secondary postExcerpt">
			<%- strip_html(post.excerpt) || truncate(strip_html(post.content), {length: theme.excerpt_length}) %>
		</p>
		<div class="mdui-divider"></div>
		<div class="postItemFooter">
			<span class="postItemInfo mdui-text-color-theme-secondary">
				<div class="postTime">
					<i class="mdui-icon material-icons">&#xe192;</i>
					<%= date(post.date) %>
				</div>
				<!--
				<div class="updateTime">
					<i class="mdui-icon material-icons">&#xe923;</i>
					<%= date(post.updated) %>
				</div>
				-->
				<div class="categories">
					<i class="mdui-icon material-icons">&#xe2c7;</i>
					<%- list_categories(post.categories)
						? list_categories(post.categories, {
							show_count: false,
							style: 'none' ,
							separator: ' / ',
							class: 'mdui-text-color-theme-secondary category',
							depth: 1
						}) : __("post.uncategorized") %>
				</div>
			</span>
			<a class="readMore mdui-btn mdui-ripple mdui-ripple-white mdui-text-color-theme-accent"
				href="<%= url_for(post.path) %>"><%= __('more') %></a>
		</div>
	</div>
</div>