<% 
let linkPrefix = site.linkPrefix;
if (theme.cdn_provider === 'jsdelivr' || theme.cdn_provider === 'unpkg'  || theme.cdn_provider === 'true' || theme.cdn_provider === true){
	linkPrefix += 'dist/'
}
let gitalkLink=linkPrefix.replace(/%package%/g, 'gitalk').replace(/%version%/g, '1.7.2');
%>
<div id="gitalk-container" class="gitalk-container"></div>
<link rel="stylesheet" href="<%- gitalkLink + 'gitalk.css' %>" />
<script src="<%- gitalkLink + 'gitalk.min.js' %>" id="gitalkScript" async></script>
<script>
	document.querySelector('#gitalkScript').addEventListener('load',()=>{
		console.log('Renderiing Gitalk...');
		const gitalk = new Gitalk({
			clientID: '<%= theme.comment?.gitalk?.clientID %>',
			clientSecret: '<%= theme.comment?.gitalk?.clientSecret %>',
			repo: '<%= theme.comment?.gitalk?.repo %>',
			owner: '<%= theme.comment?.gitalk?.owner %>',
			admin: ['<%= theme.comment?.gitalk?.admin %>'],
			id: location.pathname,
			distractionFreeMode: '<%= theme.comment?.gitalk?.admin %>',
		});
		gitalk.render('gitalk-container');
	})
</script>
